# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# SvelteKit/Vite output
.svelte-kit
build

# PocketBase Data (SANGAT PENTING: Mencegah database SQLite dan berkas terunggah terekspos ke publik)
pb_data

# OS metadata
.DS_Store
Thumbs.db

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
